.createPage {
    padding-top: 3rem;
    padding-bottom: 1rem;

    .dragDiv {
        width: 100%;
        height: 50px;
        border: 2px dashed #bbb;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        color: #bbb;
    }

    .title {
        margin-bottom: 2rem;
        font-size: 1.75rem;
    }

    .selectbox {
        padding-bottom: 1rem;
    }

    .generateBtn {
        padding: 15px;
        text-align: center;
        height: 70px;

        .btn {
            height: 60px;
            text-align: center;
        }

        button {
            height: 60px;
        }
    }

    .card {
        width: fit-content;
        height: fit-content;
    }

    .thumbnailIMG {
        max-height: 370px;
        width: auto;
    }

    .tab-pane {
        padding-top: 10px;
    }

    .hide {
       display: none;
    }

    .col-sm {
        width: 420px;
    }

    .galery {
        height: fit-content;
        max-height: 400px;
        overflow-y: overlay;
    }

    .galery .card-img-top:hover {
        box-shadow: 0 0 6px 1px #323a7f;
    }
}
