.createPage {
  padding-top: 3rem;
  padding-bottom: 1rem; }
  .createPage .dragDiv {
    width: 100%;
    height: 50px;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: #bbb; }
  .createPage .title {
    margin-bottom: 2rem;
    font-size: 1.75rem; }
  .createPage .selectbox {
    padding-bottom: 1rem; }
  .createPage .generateBtn {
    padding: 15px;
    text-align: center;
    height: 70px; }
    .createPage .generateBtn .btn {
      height: 60px;
      text-align: center; }
    .createPage .generateBtn button {
      height: 60px; }
  .createPage .card {
    width: fit-content;
    height: fit-content; }
  .createPage .thumbnailIMG {
    max-height: 370px;
    width: auto; }
  .createPage .tab-pane {
    padding-top: 10px; }
  .createPage .hide {
    display: none; }
  .createPage .col-sm {
    width: 420px; }
  .createPage .galery {
    height: fit-content;
    max-height: 400px;
    overflow-y: overlay; }
  .createPage .galery .card-img-top:hover {
    box-shadow: 0 0 6px 1px #323a7f; }
