img.d-block.image {
    max-height: 550px;
    height: 550px;
    margin: auto;
}

.btns {
    margin: 15px;
}

.spinnerBG {
    height: 550px;
    width: 550px;
    background: #ccc;
    margin: auto;
    display: block;
}

.spinnerBG img {
    position: relative;
    top: 183px;
    left: 183px;
}
