#time-container {
	margin-top: 4em;
	padding: 1em;

	h1 {
		font-size: 80px;
		text-align: center;
	}
}

#demo-container {
	margin-top: 4em;
	margin-bottom: 0;

	h1 {
		font-size: 80px;
		text-align: center;
	}

	.embed-responsive {
		max-width: 60%;
		margin: 4em auto 1em;
	}
}

.homequote {
	padding: 3rem 0 1rem;
}
